* {
border: none;
border-radius: 0;
min-height: 0;
font-family: Roboto Nerd Font;
font-size: 13px;
color:rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces button {
all: initial;
/* Remove GTK theme values (waybar #1351) */
min-width: 0;
/* Fix weird spacing in materia (waybar #450) */
box-shadow: inset 0 -3px transparent;
/* Use box-shadow instead of border so the text isn't offset */
padding: 6px 15px;
margin: 6px 3px;
border-radius: 4px;
background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#workspaces button.active {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#workspaces button:hover {
text-shadow: inherit;
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.65), rgba(51, 57, 58, 0.5));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#workspaces button.urgent {
background-image: linear-gradient(to bottom, rgba(156, 252, 255, 0.4), rgba(9, 23, 51, 0.4));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
border-radius: 4px;
margin: 6px 3px;
padding: 6px 12px;
background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#custom-power {
margin-right: 6px;
}

#custom-logo {
padding-right: 7px;
padding-left: 4px;
margin-left: 1px;
font-size: 15px;
border-radius: 8px 0px 0px 8px;
background-color: transparent;
    transition-property: background-color;
}

#memory {
background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#battery {
background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-image: linear-gradient(to bottom, rgba(213, 14, 14, 0.668), rgba(47, 2, 2, 0.688));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#battery.charging {
background-image: linear-gradient(to bottom, rgba(43, 244, 50, 0.779), rgba(2, 66, 15, 0.598));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#backlight {
background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#wireplumber {
background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
padding-right: 17px;
}

#network {
background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
padding-right: 17px;
}

#clock {
font-family: JetBrainsMono Nerd Font;
background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

#custom-power {
background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}


tooltip {
    border-radius: 8px;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}

tooltip label {
    padding: 5px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
}
